<% provide(:title, 'Al; users') %>
<h1>All useres</h1>

<div class="text-center">
  <%= will_paginate %>
</div>

<ul class="users">
  <% @users.each do |user| %>
  <%= render @users %>
  <% end %>
</ul>

<div class="text-center">
  <%= will_paginate %>
</div>